@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #34495E;
  position: relative;
}

html, body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

h2 {
  text-align: center;
  font-size: 30px;
}

.scroll-disable {
  overflow: hidden;
}

@media (min-width: 1440px) {
  h2 {
    font-size: 38px;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
}

.btn {
  border: none;
  background-color: transparent;
  font-size: 18px;
  padding: 20px;
  border-radius: 24px 4px;
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.btn:hover {
  border-radius: 4px 24px;
}

.btn--white {
  background-color: white;
}

.btn--submit {
  color: white;
  background-color: #0E77FF;
}

.header-section {
  background-image: url("../../assets/img/header-section-mobile-background.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

.rocket-overlay {
  position: absolute;
  bottom: -10px;
  z-index: 0;
}

.rocket-overlay img {
  width: 100vw;
  height: 33vh;
}

@media screen and (max-height: 900px) and (min-width: 1000px) {
  .rocket-overlay img {
    display: none;
  }
}

.page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-nav hr {
  display: none;
}

.nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.yourway__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 195px;
}

.yourway__logo .yourway__icon {
  width: 65px;
  height: 65px;
}

.yourway__logo p {
  color: white;
  font-size: 33px;
  font-weight: bold;
}

.zzt__logo {
  width: 60px;
  position: absolute;
  bottom: 7%;
  right: 10%;
}

.mobile-menu {
  -webkit-transition: .3s all;
  transition: .3s all;
}

.mobile-menu-icon {
  color: white;
  font-size: 30px;
}

.desktop-menu {
  display: none;
}

.header-section--heading {
  position: relative;
  z-index: 1;
}

.header-section--heading h1 {
  width: 90%;
  color: white;
  font-size: 30px;
  line-height: 45px;
  z-index: 1;
}

.header-section--heading p {
  color: #CCD1D1;
  width: 88%;
  line-height: 25px;
  font-size: 15px;
}

.header-section--btn {
  position: relative;
  z-index: 1;
  margin-top: 30px;
}

.header-section--btn i {
  font-size: 16px;
}

.social-media-icons {
  display: none;
}

.mobile-nav {
  padding-top: calc(50vh - 200px);
  width: 100vw;
  height: 100vh;
  background-color: #F8F9F9;
  position: fixed;
  z-index: 2;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  -webkit-transition: .3s all;
  transition: .3s all;
}

.mobile-nav-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: .3s all;
  transition: .3s all;
}

.mobile-menu-icon-active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mobile-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 230px;
}

.mobile-links a {
  color: #34495E;
  font-weight: bold;
  font-size: 30px;
}

.mobile-social-media-icons {
  padding-top: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.mobile-social-media-icons i {
  color: black;
  font-size: 30px;
}

@media (min-width: 400px) {
  .header-section--heading h1 {
    margin-top: 60px;
  }
  .rocket-overlay img {
    height: unset;
  }
  .page-nav .nav-logo {
    width: 300px;
    margin-right: 10px;
  }
  .page-nav hr {
    display: initial;
    height: 50px;
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
  }
  .page-nav .zzt__logo {
    position: initial;
    width: 80px;
    height: 60px;
  }
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .desktop-menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 400px;
  }
  .desktop-menu a {
    position: relative;
  }
  .desktop-menu a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    margin: -5px 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
  }
  .desktop-menu a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .social-media-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 190px;
    text-align: center;
    position: absolute;
    right: 15px;
    top: 30%;
    z-index: 2;
  }
  .social-media-icons a, .footer-social-media a, .teammate-social-media a, .aboutus-social-media a {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .social-media-icons a:hover, .footer-social-media a:hover, .teammate-social-media a:hover, .aboutus-social-media a:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .social-media-icons i {
    font-size: 20px;
  }
  .header-section--heading h1 {
    width: 500px;
    font-size: 40px;
    line-height: 50px;
  }
  .header-section--heading p {
    width: 400px;
    font-size: 20px;
    line-height: 30px;
  }
  .header-section {
    background-image: url("../../assets/img/background.webp");
    background-position: unset;
  }
}

@media (min-width: 1024px) {
  .social-media-icons {
    position: initial;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 150px;
  }
  .page-nav {
    position: relative;
    z-index: 1;
  }
}

@media (min-width: 1440px) {
  .header-section--heading h1 {
    width: 700px;
    font-size: 55px;
    line-height: 65px;
  }
  .header-section--heading p {
    width: 600px;
    font-size: 25px;
    line-height: 30px;
  }
  .rocket-overlay {
    bottom: -100px;
  }
  .desktop-menu {
    width: 450px;
  }
  .desktop-menu a {
    font-size: 20px;
  }
  .social-media-icons {
    width: 230px;
  }
}

.aboutus-section {
  width: 100%;
  height: 1300px;
  margin-top: 30px;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0E77FF;
  font-weight: 600;
  font-size: 18px;
  position: relative;
  z-index: 1;
}

.section-title img {
  width: 25px;
  height: 30px;
}

.aboutus-content {
  position: relative;
  z-index: 1;
}

.aboutus-content h2 {
  margin-top: 0;
  text-align: left;
}

.aboutus-content p {
  text-align: justify;
  line-height: 28px;
  font-size: 18px;
}

.aboutus-graphic {
  position: relative;
  left: calc(50% - 150px);
  margin: 60px auto 0 auto;
}

.aboutus-desktop-website-image {
  display: none;
}

.aboutus-mobile-website-image {
  width: 400px;
  position: absolute;
  left: -110px;
  top: -25px;
}

.aboutus-post-image {
  width: 300px;
  position: absolute;
  top: 200px;
  left: 110px;
}

.aboutus-dots-image {
  display: none;
}

.aboutus-social-media img {
  width: 55px;
}

.aboutus-facebook-icon, .aboutus-instagram-icon, .aboutus-spotify-icon, .aboutus-tiktok-icon, .aboutus-youtube-icon {
  position: absolute;
  -webkit-transform: rotate(38deg);
          transform: rotate(38deg);
}

.aboutus-instagram-icon {
  left: 245px;
  top: 180px;
}

.aboutus-facebook-icon {
  left: 240px;
}

.aboutus-spotify-icon {
  top: 330px;
  left: 110px;
}

@media (min-width: 650px) {
  .aboutus-content p {
    font-size: 16px;
  }
  .aboutus-desktop-website-image {
    display: initial;
    width: 800px;
    position: absolute;
    top: -50px;
    left: -600px;
  }
  .aboutus-mobile-website-image {
    width: 500px;
    left: -90px;
    top: 255px;
  }
  .aboutus-post-image {
    width: 500px;
    top: -85px;
    left: -15px;
  }
  .aboutus-facebook-icon {
    left: 335px;
    top: 295px;
  }
  .aboutus-instagram-icon {
    left: 325px;
    top: 480px;
  }
  .aboutus-spotify-icon {
    top: 650px;
    left: 180px;
  }
}

@media (min-width: 1024px) {
  .aboutus-content {
    width: 50%;
  }
  .aboutus-graphic {
    left: 0px;
    width: 50%;
  }
  .aboutus-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .aboutus-dots-image {
    display: initial;
    position: absolute;
    top: 500px;
    right: -305px;
  }
  .first-triangle {
    width: 175px !important;
    right: -105px !important;
  }
  .second-triangle {
    width: 60px !important;
    right: 75px !important;
  }
  .third-triangle {
    width: 90px !important;
    right: 170px !important;
  }
}

@media (min-width: 1600px) {
  .aboutus-graphic {
    left: 100px;
  }
  .section-title .section-title-text {
    font-size: 25px;
  }
  .section-title img {
    width: 35px;
    height: 40px;
  }
  .aboutus-content p {
    width: 90%;
    font-size: 20px;
    line-height: 35px;
  }
  .aboutus-desktop-website-image {
    width: 1000px;
  }
  .aboutus-mobile-website-image {
    width: 600px;
    left: 50px;
    top: 320px;
  }
  .aboutus-post-image {
    width: 500px;
    top: -55px;
    left: 110px;
  }
  .aboutus-instagram-icon {
    left: 555px;
    top: 575px;
  }
  .aboutus-facebook-icon {
    left: 500px;
    top: 345px;
  }
  .aboutus-spotify-icon {
    top: 795px;
    left: 380px;
  }
  .aboutus-youtube-icon {
    top: 10px;
    left: 100px;
  }
  .aboutus-social-media img {
    width: 70px;
  }
}

.triangles {
  z-index: 0;
  position: absolute;
  right: 0;
}

.triangles .first-triangle {
  -webkit-transform: rotate(55deg);
          transform: rotate(55deg);
  width: 100px;
  position: absolute;
  right: -50px;
}

.triangles .second-triangle {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  width: 45px;
  position: absolute;
  right: 60px;
  top: -20px;
}

.triangles .third-triangle {
  -webkit-transform: rotate(160deg);
          transform: rotate(160deg);
  width: 70px;
  position: absolute;
  right: 150px;
  top: 0px;
}

.team-section {
  padding: 30px 0;
  margin-bottom: 100px;
}

.team-section h2 {
  margin: 30px;
  font-size: 30px;
}

.team-board {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-auto-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 30px;
}

.team-board .teammate {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 450px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 19px -6px #42445a;
          box-shadow: 0px 0px 19px -6px #42445a;
}

.team-board .teammate p {
  font-weight: bold;
  margin-top: -110px;
  margin-bottom: 0;
  font-size: 25px;
  color: #0E77FF;
}

.team-board .teammate span {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.team-board .teammate hr {
  width: 60px;
  border: 1px solid #0E77FF;
  background-color: #0E77FF;
  border-radius: 5px;
}

.team-board .teammate img {
  width: 100%;
  height: 425px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 57%, 0 71%);
          clip-path: polygon(0 0, 100% 0, 100% 57%, 0 71%);
}

.team-board .teammate .teammate-social-media i {
  color: #0E77FF;
  font-size: 30px;
  margin-top: 5px;
}

.teammate-img {
  display: none !important;
}

@media (min-width: 540px) {
  .teammate {
    width: 400px;
  }
}

@media (min-width: 800px) {
  .team-section h2 {
    font-size: 40px;
  }
  .teammate {
    width: 300px !important;
  }
  .first-person {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: first;
  }
  .second-person {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: second;
  }
  .third-person {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: third;
  }
  .fourth-person {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: fourth;
  }
  .fifth-person {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: fifth;
  }
  .team-board {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 50px;
        grid-template-areas: "first second" "third fourth" "fifth fifth";
  }
  .partner-blok {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: blok;
    text-align: center;
  }
  .partner-board {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        grid-template-areas: "uth zse" "2lo where2go" "blok blok";
  }
}

@media (min-width: 1024px) {
  .team-section {
    margin-top: -300px;
  }
  .teammate {
    width: 325px !important;
    height: 475px !important;
  }
  .teammate p {
    font-size: 28px !important;
    margin-top: -130px !important;
  }
  .teammate span {
    font-size: 22px !important;
  }
  .teammate i {
    font-size: 30px !important;
  }
  .teammate img {
    height: 460px !important;
  }
  .teammate-img {
    display: initial !important;
  }
  .teammate-img img {
    height: 100% !important;
    -webkit-clip-path: none !important;
            clip-path: none !important;
  }
  .team-board {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
        grid-template-areas: "first second third" "fourth . fifth";
  }
  .partner-board {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        grid-template-areas: "uth zse 2lo" "where2go . blok";
  }
}

@media (min-width: 1600px) {
  .teammate-img {
    display: none !important;
  }
  .teammate {
    width: unset !important;
  }
  .teammate p {
    margin-top: -110px !important;
  }
  .teammate img {
    height: 425px !important;
  }
  .team-board {
    -ms-grid-columns: 300px 300px 300px 300px 300px;
        grid-template-columns: 300px 300px 300px 300px 300px;
        grid-template-areas: "first second third fourth fifth";
    grid-gap: 30px;
  }
}

.guest {
  width: calc(100% - 15px);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 55px -25px #42445a;
          box-shadow: 0px 0px 55px -25px #42445a;
  padding: 5px;
}

.guest--red .guest-description hr {
  background-color: #F44336;
}

.guest--yellow .guest-description hr {
  background-color: #F4D03F;
}

.guest--purple .guest-description hr {
  background-color: #8E44AD;
}

.guest--orange .guest-description hr {
  background-color: #F39C12;
}

.guest--green .guest-description hr {
  background-color: #2ECC71;
}

.guest-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  row-gap: 50px;
  margin-bottom: 100px;
}

.guest-announcement {
  width: calc(100% - 30px) !important;
  padding: 15px !important;
  height: 200px;
}

.guest-announcement h4 {
  text-align: center;
}

.guest-photo {
  display: none;
}

.guest-description {
  width: 90%;
}

.guest-description h4 {
  font-size: 20px;
  margin-bottom: 8px;
}

.guest-description hr {
  width: 75px;
  margin: 0;
  border: none;
  height: 2.5px;
  border-radius: 10px;
}

.guest-description p {
  margin: 8px 0;
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
}

.guest-film-icons {
  text-align: center;
  margin: 15px 0;
}

.guest-film-icons i {
  font-size: 30px;
  padding: 0 10px;
}

.guest-film-icons .guest-icon-yt {
  color: #FF0000;
}

.guest-film-icons .guest-icon-spotify {
  color: #1DB954;
}

@media (min-width: 520px) {
  .guest-photo {
    display: initial;
    width: 40%;
    margin-bottom: -9px;
  }
  .guest-photo img {
    width: 100%;
    height: 90%;
  }
  .photo-second-guest img {
    width: 123%;
  }
  .photo-third-guest img {
    width: 86%;
  }
  .photo-fourth-guest img {
    width: 88%;
  }
  .photo-fifth-guest img {
    width: 110%;
  }
  .guest-description {
    width: 60%;
  }
}

@media (min-width: 650px) {
  .guest {
    width: 600px;
    padding: 15px 15px 0 15px;
  }
  .guest-announcement {
    width: 600px !important;
    height: 300px;
  }
  .guest-announcement h4 {
    font-size: 25px;
  }
  .guest-photo {
    margin-bottom: -4px;
  }
  .guest-description h4 {
    font-size: 25px;
  }
  .guest-description hr {
    width: 90px;
  }
  .guest-description p {
    font-size: 18px;
    line-height: 30px;
  }
}

.project-summarize-text {
  font-size: 18px;
  line-height: 28px;
  text-align: justify;
}

.project-summarize-film-box iframe {
  width: 100%;
  height: 225px;
}

@media (min-width: 768px) {
  .project-summarize-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project-summarize-text-box {
    width: 37.5%;
  }
  .project-summarize-film-box {
    width: 57.5%;
  }
}

.partner img {
  width: 200px;
}

@media (min-width: 1300px) {
  .guest--red {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: first-guest;
  }
  .guest--yellow {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: second-guest;
  }
  .guest--purple {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: third-guest;
  }
  .guest--orange {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: fourth-guest;
  }
  .guest--green {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: fifth-guest;
  }
  .guest-announcement {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: annoucment;
  }
  .guest-gallery {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "first-guest second-guest" "third-guest fourth-guest" "fifth-guest annoucment";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

@media (min-width: 1200px) {
  .partner-blok {
    grid-area: unset;
  }
  .partner-board {
    -ms-grid-columns: 200px 200px 200px 200px 200px;
        grid-template-columns: 200px 200px 200px 200px 200px;
        grid-template-areas: unset !important;
  }
  .medial-partner-board {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 200px 200px 200px 200px;
        grid-template-columns: 200px 200px 200px 200px;
  }
}

.page-footer {
  background-image: url("../../assets/img/footer-bg.png");
  background-size: cover;
  margin-top: 50px;
  height: 360px;
  color: #F8F9F9;
}

.footer-contact {
  padding-top: 5px;
}

.footer-contact h4 {
  margin-bottom: 10px;
  font-size: 25px;
}

.footer-contact hr {
  border: 2px solid #21B3FF;
  background-color: #21B3FF;
  border-radius: 10px;
  width: 70px;
  margin: 0;
}

.contact-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px;
  margin-top: 10px;
}

.contact-mail a, .contact-mail i {
  font-size: 20px;
}

.footer-social-media h4 {
  font-size: 23px;
  margin-bottom: 15px;
}

.footer-social-media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
}

.footer-social-media-icons i {
  font-size: 30px;
}

.footer-logo {
  height: 100px;
  margin-top: 30px;
}

.footer-logo .yourway__logo {
  height: 70px;
  margin-left: -15px;
}

.footer-logo .logo-span {
  margin: 0;
  font-size: 15px;
}

@media (min-width: 750px) {
  .footer-content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-footer {
    height: 270px;
  }
}
/*# sourceMappingURL=style.css.map */